@*@{
        ViewData["Title"] = "AddGroupCourse";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@
@model AddGroupCourseViewModel
<form class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3" asp-action="AddGroupCourse" method="post">
    <div class="form-group">
        @Html.LabelFor(m => m.GroupCourse.CourseId)
        <select class="custom-select" name="CourseId">
            <option selected>Choose...</option>
            @foreach (var item in Model.Courses)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        @Html.ValidationMessageFor(m => m.GroupCourse.CourseId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.GroupCourse.GroupId)
        <select class="custom-select" name="GroupId">
            <option selected>Choose...</option>
            @foreach (var item in Model.Groups)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        @Html.ValidationMessageFor(m => m.GroupCourse.GroupId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.GroupCourse.UserId)
        <select class="custom-select" name="UserId">
            <option selected>Choose...</option>
            @foreach (var item in Model.Teachers)
            {
                <option value="@item.Id">@item.FirstName</option>
            }
        </select>
        @Html.ValidationMessageFor(m => m.GroupCourse.UserId)
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>


@*<label for="inlineFormCustomSelectPref">Role</label>
<select class="custom-select" id="inlineFormCustomSelectPref" name="role">
    <option selected>Choose...</option>
    <option value="1">Lecturer</option>
    <option value="2">Staff memeber</option>
</select>*@