@model LessonsViewModel
@{
    ViewData["Title"] = "GroupCourseLecturer";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    var role = User.Claims.First(c => c.Type == ClaimTypes.Role).Value;
}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<h2 class="text-center">Lessons list</h2>
@if (role == "1")
{
    <div class="border-bottom border-top py-2 mb-3">
        <a class="btn btn-outline-secondary px-4 hidden" id="start-button" asp-action="EditGroup">Start</a>
    </div>
}
<table class="table table-hover table-bordered" id="js-table">
    <thead>
        <tr>
            @if (role == "2")
            {
                <th scope="col">Lecturer Name</th>
            }
            <th scope="col">Group Name</th>
            <th scope="col">Course Name</th>
            <th scope="col">Date</th>
            <th scope="col">Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lesson in Model.Lessons)
        {
        <tr>
            @if (role == "2")
            {
            <td>@lesson.GroupCourse.Lecturer.FirstName @lesson.GroupCourse.Lecturer.LastName</td>
            }
            <td>@lesson.GroupCourse.Group.Name</td>
            <td>@lesson.GroupCourse.Course.Name</td>
            <td>@lesson.Date.ToShortDateString()</td>
            <td>@lesson.LessonType.ToString()</td>
        </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    var selectedLessonId;
    var selectLesson;
    $(document).ready(function () {
        var table = $("#js-table").DataTable();

        $('#js-table tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

        selectedLessonId = null;
        selectLesson = function (id) {
            if (selectedLessonId !== id) {
                selectedLessonId = id;
                $('#start-button').removeClass('hidden');
                $('#start-button').attr('href', '/dashboard/groupcourses/myLessons/start/' + selectedLessonId);
            }
            else {
                selectedLessonId = null;
                $('#start-button').addClass('hidden');
                $('#start-button').attr('href', '/dashboard/groupcourses/myLessons/');
            }
        }
    })
</script>
