
@{
    ViewData["Title"] = "RegistrationRequests";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@model RegistrationRequestsViewModel
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<h1>Registration Requests</h1>
<table class="table table-hover table-bordered" id="js-table">
    <thead>
        <tr>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">MiddleName</th>
            <th scope="col">BirthDate</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.MiddleName</td>
                <td>@user.BirthDate.ToShortDateString()</td>
                <td>
                    <button type="button" class="btn btn-success js-accept-btns" id="@user.Id">Accept</button>
                    <button type="button" class="btn btn-danger js-delete-btns" id="@user.Id">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $("#js-table").DataTable();

        $(".js-accept-btns").click(function () {
            let userId = $(this).attr("id");
            let mode = 1;
            ajaxReq(userId,mode);
        });

        $(".js-delete-btns").click(function () {
            let userId = $(this).attr("id");
            let mode = 2;
            ajaxReq(userId, mode);
        });

        function ajaxReq(userId, mode) {
            var model = { UserId: userId,Mode:mode};
            $.ajax({
                url: "response",
                method: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(model)
            }).done(function () {
                bootbox.alert("The changes have been done");
            });
        }

        

    });
</script>

