@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@model StudentsViewModel
<h1>Students</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">MiddleName</th>
            <th scope="col">BirthDate</th>
            <th scope="col">Group</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.Students)
        {
            <tr>
                <th scope="row">@student.Id</th>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>@student.MiddleName</td>
                <td>@student.BirthDate</td>
                <td>@student.GroupId</td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-outline-secondary" asp-action="AddStudent">Add student</a>