@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    var role = User.Claims.First(c => c.Type == ClaimTypes.Role).Value;
}
@model StudentsViewModel
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<h3 class="text-center">Students</h3>
@if (role != "1")
{
    <div class="border-bottom border-top py-2 mb-3">
        <a class="btn btn-outline-secondary px-4" asp-action="AddStudent">Add</a>
        <a class="btn btn-outline-warning px-4 hidden" id="edit-button" asp-action="EditStudent">Edit</a>
        <a class="btn btn-outline-danger px-4 hidden" id="delete-button" asp-action="DeleteStudent">Delete</a>
    </div>
}
<table class="table table-hover table-bordered" id="js-table">
    <thead>
        <tr>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">MiddleName</th>
            <th scope="col">BirthDate</th>
            <th scope="col">Group</th>
            <th scope="col">Info</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.Students)
        {
            <tr onclick="selectStudent('@student.Id')">
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>@student.MiddleName</td>
                <td>@student.BirthDate.ToShortDateString()</td>
                <td>@student.Group.Name</td>
                <td>
                    <a class="btn btn-outline-dark px-4" asp-action="StudentInfo" asp-route-id=@student.Id>Info</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    var selectedStudentId;
    var selectStudent;
    $(document).ready(function () {
        var table = $("#js-table").DataTable();

        $('#js-table tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

        selectedStudentId = null;
        selectStudent = function (id) {
            if (selectedStudentId !== id) {
                selectedStudentId = id;
                $('#edit-button').removeClass('hidden');
                $('#edit-button').attr('href', '/dashboard/students/edit?studentId=' + selectedStudentId);
                $('#delete-button').removeClass('hidden');
                $('#delete-button').attr('href', '/dashboard/students?studentId=' + selectedStudentId);
            }
            else {
                selectedStudentId = null;
                $('#edit-button').addClass('hidden');
                $('#edit-button').attr('href', '/dashboard/students/edit/');
                $('#delete-button').addClass('hidden');
                $('#delete-button').attr('href', '/dashboard/students/');
            }
        }
    })
</script>