@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
@model ProfileViewModel
<p>@Model.User.FirstName</p>
<p>@Model.User.LastName</p>
<p>@Model.User.MiddleName</p>
<p>@Model.User.BirthDate</p>
<p>@Model.User.Role</p>
